{% load static %}
{% load menu_tags %}

<div class="col">
    <div class="card text-white bg-dark h-100" style="max-width: 21rem;">
        <div class="card-header"><a class="nav-link" href="/struct/company/{{ company.id }}/division/{{ division.id }}">{{ division.abbr }}</a></div>                        
        <div class="card-body">
            <h5 class="card-title">{{ division.name }}</h5>
            {% block_division_ul_tag division.id %}                            
        </div>
    </div>
</div>