{% load static %}
{% load menu_tags %}

<div class="navbar-sticky zzz">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            {% if user.is_superuser %}
            <a class="navbar-brand" href="/admin/">
                <img src="{% static 'umzr/img/mark.png'%}">
            </a>
            {% else %}
            <a class="navbar-brand" href="#">
                <img src="{% static 'umzr/img/mark.png'%}">
            </a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/struct/companies/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Компании">{{ svg_companies }}</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
                <div class="nav-item dropdown navbar-brand ms-3">
                    <a class="nav-link dropdown-toggle" href="#" id="userAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userAccount">
                        <li><a class="dropdown-item" href="#">Self account</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/signout/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Выйти">Выйти</a></li>
                    </ul>
                </div>
                {% else %}
                    <div class="navbar-nav me-auto mb-2 mb-lg-0"></div>
                    <a class="nav-item dropdown navbar-brand ms-3" href="/signin/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Авторизация">Войти</a>
                {% endif %}
            </div>            
        </div>
    </nav>
</div>