{% load static %}
{% load menu_tags %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="data:;base64,=">
    <!-- <link rel="stylesheet" href="{% static 'umzr/css/reset.css' %}"> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'umzr/css/style.css' %}">
    <script src="{% static 'bootstrap/js/popper.min.js' %}" defer></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" defer></script>

    <title>{% block title %}УМЗР{% endblock title %}</title>
</head>
<body class="bg-gray">    
    <div class="container">
        <div class="menuhead">
            <img src="{% static 'umzr/img/menuhead.svg' %}" class="menuhead-img" alt="">
        </div>
        {% menu_tag %}
        {% block main %}{% endblock main %}
        <div class="menufooter">
            <img src="{% static 'umzr/img/menufooter.svg' %}" class="menufooter-img" alt="">
        </div>
    </div>
    <script>
        const config = {};
        window.ClassicEditor
            .create( document.querySelector( '#editor' ), config )
            .catch( error => {
                console.error( error );
            } );
    </script>
 </body>
</html>
 