{% extends "base.html" %}
{% load static %}
{% load menu_tags %}

{% block title %}Компании{% endblock title %}

{% block main %}

{% get_companies as companies %}
<div class="row row-cols-3 row-cols-md-3 g-4">
{% for company in companies %}
    <div class="col">
        <div class="card text-white bg-dark h-100" style="max-width: 21rem;">
            <div class="card-header"><a class="nav-link" href="{% url 'company' id=company.id %}">{{ company.title }}</a></div>
            {% block_company_logo_tag company.id %}                        
            <div class="card-body">
                <h5 class="card-title">{{ company.name }}</h5>
                {% block_company_ul_tag company.id %}                            
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock main %}