{% extends "base.html" %}
{% load static %}
{% load menu_tags %}
{% load app_comments_tags_inclusions %}
{% load app_task_tags_inclusions %}

{% block title %}Компания: {{ company.name }}{% endblock title %}

{% block main %}

<div class="card text-white bg-dark">
    {% block_company_header_tag company.id %}
    {% block_company_logo_tag company.id %}
    <div class="card-body">
        <div class="container mt-3">            
            <form action="{% url 'company_save' id=company.id %}" method="POST">
                {% csrf_token %}
                <div class="accordion mb-3 mt-3 text-white bg-dark" id="accordionCompany">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-white bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Контактные данные</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionCompany">
                            <textarea class="accordion-body form-control ckeditor" rows="5" id="" name="contacts">{{ company.contacts }}</textarea>
                        </div>                        
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button text-white bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">Примечания</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionCompany">
                            <textarea class="accordion-body form-control ckeditor" rows="5" id="note" name="note">{{ company.note }}</textarea>
                        </div>                        
                    </div>                    
                </div>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>            
        </div>
        {% block_company_ul_tag company.id %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active text-black panels" id="tasks-tab" aria-current="page" href="#tasks-content">Задачи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white panels" id="comments-tab" href="#comments-content">Комментарии</a>
            </li>
        </ul>
    </div>
</div>
<div id="tasks-content">
    <ul class="list-group mt-3">
        <a href="{% url 'task_add' type='company' id=company.id tid=-1 %}" class="btn btn-success" role="button" aria-disabled="true">Добавить задачу</a>
    </ul>    
    <ul class="list-group mt-3">
        {% for task in tasks %}
            {% block_task task.id 'company' company.id %}
        {% empty %}
            <li class="list-group-item bg-dark text-white">Задач пока нет</li>
        {% endfor %}
    </ul>
</div>

<div id="comments-content" style="display: none;">
    <ul class="list-group mt-3">
        {% block_comment_add %}  
        {% for comment in comments %}
            {% block_comment comment.id %}
        {% empty %}
            <li class="list-group-item bg-dark text-white">Комментариев пока нет</li>
        {% endfor %}
    </ul>
</div>

{% endblock main %}