{% extends "base.html" %}
{% load static %}
{% load menu_tags %}
{% load app_comments_tags_inclusions %}


{% block title %}Объект: {{ facility.name }}{% endblock title %}

{% block main %}

<div class="card text-white bg-dark">
    <div class="card-header"><a class="nav-link" href="{% url 'facility' company.id license.id facility.id %}">Наименование: {{ facility.name }}</a></div>
    <div class="img_wrapper">
        <img src="{% static 'umzr/img/facility.svg' %}" class="card-img-top" alt="Заглушка">
    </div>
    <div class="card-body">
        <div class="container mt-3">            
            <form action="{% url 'save_facility' company.id license.id facility.id %}" method="POST">
                {% csrf_token %}
                <div class="accordion mb-3 mt-3 text-white bg-dark" id="accordionCompany">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button text-white bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">Примечания</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionCompany">
                            <textarea class="accordion-body form-control ckeditor" rows="5" id="" name="note">{{ facility.note }}</textarea>
                        </div>                        
                    </div>                    
                </div>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>            
        </div>
        <!-- <h5 class="card-title text-white bg-dark mt-3">Задачи Объекта:</h5> -->
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
              <a class="nav-link active text-black panels" id="tasks-tab" aria-current="page" href="#">Задачи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white panels" id="comments-tab" href="#comments-content">Комментарии</a>
            </li>
        </ul>
    </div>
</div>
<div id="tasks-content">
    <!-- Здесь можно вставить задачи -->
</div>

<div id="comments-content" style="display: none;">
    <ul class="list-group mt-3">
        {% block_comment_add %}  
        {% for comment in comments %}
            {% block_comment comment.id %}
        {% empty %}
            <li class="list-group-item bg-dark text-white">Комментариев пока нет</li>
        {% endfor %}
    </ul>
</div>
{% endblock main %}