{% extends "base.html" %}
{% load static %}
{% load menu_tags %}

{% block title %}Объекты {{ license.name }}{% endblock title %}

{% block main %}
<div class="card text-white bg-dark">
    <div class="card-header"><a class="nav-link" href="/struct/company/{{ company.id }}/license/{{ license.id }}/">Лицензионный участок: {{ license.name }}</a></div>
    <div class="img_wrapper"><img src="{% static 'umzr/img/license.svg' %}" class="card-img-top" alt="Лицензия"></div>
    <div class="card-body">
        <h5 class="card-title text-white bg-dark">Объекты ЛУ:</h5>
    </div>
</div>

<div class="row row-cols-3 row-cols-md-3 g-4 mt-2">
{% get_facilities license.id as facilities %}
{% for facility in facilities %}
    {% card_facility_tag company.id license.id facility.id %}
{% endfor %}
</div>
{% endblock main %}