{% extends "base.html" %}
{% load static %}

{% block title %}УМЗР{% endblock title %}

{% block main %}
<div class="row">
    <div class="col-sm">
      Одна из трёх колонок
    </div>
    <div class="col-sm">
      Одна из трёх колонок
    </div>
    <div class="col-sm">
      Одна из трёх колонок
    </div>
</div>
<div class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore fugiat quaerat nobis numquam, magnam itaque. Sint dignissimos accusamus vitae, totam numquam, soluta odio exercitationem cupiditate voluptate architecto repellendus, nihil rerum.
    Esse facere culpa doloribus eum eveniet accusamus cum deserunt in ratione porro nisi ducimus, magni possimus vel impedit reiciendis aperiam. Deserunt similique voluptas debitis. Deserunt laborum ab culpa provident vel?
    Voluptatem error porro facere doloremque modi nisi voluptatibus sint! Provident aspernatur, nostrum molestiae similique id, nisi aliquam iusto debitis odit, voluptates cum blanditiis dolor accusamus possimus assumenda! Commodi, quaerat cum.
    Ipsa odio debitis eius magni eos repudiandae ipsam iusto, dolore nobis impedit pariatur dicta doloremque, veniam quas quasi? Laborum ullam neque alias illo velit rem nulla? Est necessitatibus quae minima!
    Itaque provident voluptatum accusantium molestiae explicabo asperiores saepe quasi recusandae, non suscipit quo velit quisquam ducimus, in eum deserunt. Doloribus omnis adipisci iusto facere magnam delectus quo quae a. Eveniet?
    Aut, vero maiores error perspiciatis, consectetur laborum reiciendis dolore culpa quas eius aliquid! Nam fugit beatae numquam facilis amet recusandae cum? Ipsum, dolorem illo repellendus recusandae doloribus cum laudantium odit.
    Quibusdam rem magni, placeat mollitia explicabo culpa voluptatibus odit, excepturi dolorum quia ab, laudantium vitae impedit optio eos suscipit dolor. Consequuntur hic omnis nisi explicabo quibusdam libero pariatur delectus nemo!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia voluptate recusandae fugit, sequi sapiente facilis! Vero vitae at illum ex soluta accusamus qui cum voluptate quasi. Ut eligendi neque sequi?
    Enim sunt voluptatum accusamus, placeat nam minima nostrum, natus voluptatibus at unde doloremque hic dignissimos ipsa dolor repudiandae expedita consectetur consequatur error eaque. Quidem unde iure sit amet repellat corrupti?
    Quam, perferendis! Minima impedit delectus in voluptatem fuga, nihil voluptatum quibusdam et quam quae rem culpa nesciunt eos repudiandae quod porro. Labore temporibus eligendi laboriosam in consequuntur porro amet dolor.
    Tempora, maxime consectetur. Ipsum, modi odio at quibusdam inventore dolorum laudantium placeat accusamus recusandae quod sequi, nihil porro obcaecati quo iusto voluptas in alias quas tenetur ipsa saepe cum repellendus!
    Quis maxime mollitia a alias quibusdam corrupti aliquid fugiat esse laborum dicta incidunt voluptatibus sequi, autem delectus quo perferendis ad. Explicabo quam sed ea quod ex totam deleniti quisquam iusto!
    Minus sit accusantium enim doloribus. Eligendi, numquam excepturi optio ducimus maiores tempora qui deserunt, nisi blanditiis, consequuntur accusantium iure. Nihil debitis rerum fugit veritatis at tempora earum quibusdam nulla quidem!
    Atque dolore ipsam officia totam vitae tempora, minima cupiditate. Soluta illum neque ullam rem earum rerum odio eius quisquam. Cum soluta maxime laudantium suscipit eius! Ipsa voluptatum consequuntur et id!
    Impedit dolores tenetur assumenda animi laudantium, necessitatibus, nostrum provident nisi, laboriosam natus molestias cum officiis? Molestias, similique error, voluptatum quae reprehenderit voluptatibus, doloremque eum aspernatur nam aut facilis suscipit soluta?
    At, vel nobis blanditiis id molestias quam maiores numquam libero quaerat ea doloremque tempore vero assumenda aut quod, quos sequi culpa distinctio. Consequuntur perspiciatis autem eius. Iusto distinctio a ipsam.
    Debitis inventore odio earum laudantium. Praesentium nihil nostrum officiis pariatur illo animi? Repellendus commodi earum sit debitis asperiores iste accusantium, illo vero. In animi, dignissimos assumenda eius quia aspernatur facilis.
    Deleniti deserunt est aut quia sint at magni non harum! Laudantium voluptate, asperiores ut porro obcaecati debitis rerum! Deleniti rerum laboriosam similique inventore magni atque officia nulla at quo minima!
    Voluptatibus cumque praesentium sit et soluta aperiam perspiciatis dolores magnam! Distinctio, quia cum. Qui velit explicabo illum consectetur ullam voluptatem voluptatibus odio a ducimus deserunt corrupti temporibus culpa, necessitatibus est?
    Ipsam fuga quisquam, reiciendis autem perferendis aliquam consequatur, error corrupti laudantium aperiam accusamus incidunt dicta. Molestiae commodi obcaecati praesentium natus quibusdam libero. Nesciunt minus ipsam corrupti voluptatem, hic vitae aut?
    Obcaecati quod aperiam consectetur commodi excepturi praesentium deserunt beatae corrupti atque minima! Sequi deserunt totam aspernatur vitae laborum maiores deleniti laudantium nostrum porro, molestiae pariatur ratione quas ipsum velit magni.
    Ipsum nihil alias eveniet accusantium nemo officia nulla temporibus odit esse vero? Maxime, perferendis delectus. Voluptatem mollitia corporis cupiditate voluptatum vel, omnis ipsa rem in delectus. Explicabo dolore quos sapiente?
    Dolorem, accusantium accusamus illo odio enim ducimus vel delectus voluptatibus atque nihil, non assumenda eveniet quas consequatur quod optio. Asperiores sunt alias quia commodi quas deleniti porro praesentium vero pariatur.
    Ipsa voluptate aliquam nisi. Voluptas at quisquam quo. Quod enim sit tempore, quos corrupti deleniti placeat veniam distinctio quis illum libero, qui tenetur optio sapiente facere voluptas eos nisi earum?
</div>
{% endblock main %}