{% extends "base.html" %}
{% load static %}
{% load menu_tags %}

{% block title %}Лицензии{% endblock title %}

{% block main %}

<!-- Компания (у которой смотрим лицензии) -->
<div class="card text-white bg-dark">
    {% block_company_header_tag company.id %}
    {% block_company_logo_tag company.id %}
    <div class="card-body">
        <h5 class="card-title text-white bg-dark">Лицензии Общества:</h5>
    </div>
</div>

<!-- Перечисление лицензий -->
<div class="row row-cols-3 row-cols-md-3 g-4 mt-2">
{% get_licenses company.id as licenses %}
{% for license in licenses %}
<div class="col">
    <div class="card text-white bg-dark h-100" style="max-width: 21rem;">
        {% block_license_header_tag license.id %}
        <div class="card-body">{% block_license_ul_tag license.id %}</div>
    </div>
</div>
{% endfor %}
</div>
{% endblock main %}