{% extends "base.html" %}
{% load static %}
{% load menu_tags %}

{% block title %}Объекты {{ license.name }}{% endblock title %}

{% block main %}
<div class="card text-white bg-dark">
    {% block_license_header_tag license.id %}
    {% block_license_doc_tag license.id %}
    <div class="card-body">
        <h5 class="card-title text-white bg-dark">Объекты ЛУ:</h5>
    </div>
</div>

<div class="row row-cols-3 row-cols-md-3 g-4 mt-2">
{% get_license_facilities license.id as facilities %}
{% for facility in facilities %}
    {% card_facility_tag company.id license.id facility.id %}
{% endfor %}
</div>
{% endblock main %}