{% extends "base.html" %}
{% load static %}
{% load menu_tags %}

{% block title %}Дочерние Общества {{ company.title }}{% endblock title %}

{% block main %}
<div class="card text-white bg-dark">
    <div class="card-header"><a class="nav-link" href="/struct/company/{{ company.id }}/">Краткое наименование: {{ company.title }}</br>Полное наименование: {{ company.name }}</a></div>
    <div class="img_wrapper">
        {% if company.logo %}
        <img src="{{ company.logo.url }}" class="card-img-top" alt="Логотип компании">
        {% else %}
        <img src="{% static 'umzr/img/company.svg' %}" class="card-img-top" alt="Заглушка">
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title text-white bg-dark">Дочерние и зависимые Общества:</h5>
    </div>
</div>

<div class="row row-cols-3 row-cols-md-3 g-4 mt-2">
{% for subcompany in subcompanies %}
    <div class="col">
        <div class="card text-white bg-dark h-100" style="max-width: 21rem;">
            <div class="card-header"><a class="nav-link" href="/struct/company/{{ subcompany.id }}/">{{ subcompany.title }}</a></div>
            <div class="img_wrapper">
                {% if subcompany.logo %}
                <img src="{{ subcompany.logo.url }}" class="card-img-top" alt="Логотип компании">
                {% else %}
                <img src="{% static 'umzr/img/company.svg' %}" class="card-img-top" alt="Заглушка">
                {% endif %}
            </div>                        
            <div class="card-body">
                <h5 class="card-title">{{ subcompany.name }}</h5>
                <ul class="list-group bg-dark list-group-flush">
                    <li class="list-group-item text-white bg-dark">
                        {% if subcompany.subcompany.count > 0 %}
                        <a href="/struct/company/{{ subcompany.id }}/subcompanies/" class="nav-link">Дочерние общества</a>
                        {% else %}
                        <span>Нет дочерних Обществ</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item text-white bg-dark">
                        {% if subcompany.divisions.count > 0 %}
                        <a href="/struct/company/{{ subcompany.id }}/divisions/" class="nav-link">Подразделения</a>
                        {% else %}
                        <span>Нет  подразделений</span>
                        {% endif %}                                    
                    </li>
                    <li class="list-group-item text-white bg-dark">
                        {% if subcompany.licenses.count > 0 %}
                        <a href="/struct/company/{{ subcompany.id }}/licenses/" class="nav-link">Лицензии</a>
                        {% else %}
                        <span>Нет лицензий</span>
                        {% endif %}                                    
                    </li>
                </ul>                            
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main %}