{% extends "base.html" %}
{% load static %}
{% load menu_tags %}

{% block title %}Подразделения {{ company.title }}{% endblock title %}

{% block main %}
<div class="card text-white bg-dark">
    <div class="card-header"><a class="nav-link" href="/struct/company/{{ company.id }}/division/{{ division.id }}">Краткое наименование: {{ division.abbr }}</br>Полное наименование: {{ division.name }}</a></div>
    <div class="img_wrapper"><img src="{% static 'umzr/img/divisions.svg' %}" class="card-img-top" alt="Структурные подразделения"></div>
    <div class="card-body"><h5 class="card-title text-white bg-dark">Структурные подразделения:</h5></div>
</div>

<div class="row row-cols-3 row-cols-md-3 g-4 mt-2">
{% get_subdivisions division.id as subdivisions %}
{% for subdivision in subdivisions %}
    {% card_division_tag company.id subdivision.id %}
{% endfor %}
</div>
{% endblock main %}