{% extends "base.html" %}
{% load static %}
{% load menu_tags %}
{% load app_comments_tags_inclusions %}


{% block title %}Проект: {{ project.name }}{% endblock title %}

{% block main %}
<div class="card text-white bg-dark">
    <div class="card-header"><a class="nav-link" href="/struct/company/{{ company.id }}/division/{{ division.id}}/project/{{ project.id }}">Наименование: {{ project.name }}</a></div>
    <div class="card-body">
        <div class="container mt-3">            
            <form action="{% url 'save_project' id=project.id %}" method="POST">
                {% csrf_token %}
                <div class="accordion mb-3 mt-3 text-white bg-dark" id="accordionCompany">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-white bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Контактные данные</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionCompany">
                            <textarea class="accordion-body form-control ckeditor" rows="5" id="" name="contacts">{{ project.contacts }}</textarea>
                        </div>                        
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button text-white bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">Примечания</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionCompany">
                            <textarea class="accordion-body form-control ckeditor" rows="5" id="" name="note">{{ project.note }}</textarea>
                        </div>                        
                    </div>                    
                </div>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
            <ul class="list-group bg-dark list-group-flush mt-3">
                <li class="list-group-item text-white bg-dark">
                    {% if project.businessplans.count > 0 %}
                    <a href="/econ/project/{{ project.id }}/bps/" class="nav-link">Бизнес планы</a>
                        {% for bp in project.businessplans %}
                        <a href="/econ/project/{{ project.id }}/bp/{{ bp.id }}" class="nav-link">{{ bp.name }}</a>
                        {% endfor %}
                    {% else %}
                        <span class="custom-color-unactive">Нет бизнес-планов</span>
                    {% endif %}
                </li>
            </ul>              
        </div>
        <!-- <h5 class="card-title text-white bg-dark mt-3">Задачи Проекта:</h5> -->
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
              <a class="nav-link active text-black panels" id="tasks-tab" aria-current="page" href="#">Задачи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white panels" id="comments-tab" href="#comments-content">Комментарии</a>
            </li>
        </ul>
    </div>
</div>
<div id="tasks-content">
    <!-- Здесь можно вставить задачи -->
</div>

<div id="comments-content" style="display: none;">
    <ul class="list-group mt-3">
        {% block_comment_add %}  
        {% for comment in comments %}
            {% block_comment comment.id %}
        {% empty %}
            <li class="list-group-item bg-dark text-white">Комментариев пока нет</li>
        {% endfor %}
    </ul>
</div>
{% endblock main %}